Hello from AbstractComponent

<article class="panel panel-default">
    <div class="panel-body">
        <h3>Abstract's title is: {{ abstract.title }}
        </h3>
        <h4> Abstract's section is: {{ abstract.section }}
        </h4>
        <h4> Abstract's author is: {{ abstract.author }}
        </h4>
        <p> Abstract's content is: {{ abstract.content }} </p>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </div>
</article>