.inputfield-info {
    float: right;
    border: 1px solid #66afe9;
    border-top: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.red {
    border-color: red;
}

.ng-valid {
    border-color: green
}